<div class="margin-top-20">
    {{$scope.getData}}
    <form name="submitForm">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input autocomplete="off" type="email" class="form-control" id="inputEmail4"
                    ng-model="credentials.email" required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Password</label>
                <input autocomplete="off" type="password" class="form-control" id="inputPassword4"
                    ng-model="credentials.password" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputAddress">Address</label>
            <input autocomplete="off" type="text" class="form-control" id="inputAddress"
                ng-model="credentials.address" required>
        </div>
        <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input autocomplete="off" type="text" class="form-control" id="inputAddress2"
                ng-model="credentials.address2" required>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input autocomplete="off" type="text" class="form-control" id="inputCity"
                    ng-model="credentials.city" required>
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Zip</label>
                <input autocomplete="off" type="text" class="form-control" id="inputZip"
                    ng-model="credentials.zip" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="signin(credentials)"
            ng-disabled="submitForm.$invalid">Sign in</button>
    </form>
</div>