<!doctype html>
<html>

<head>
    <!-- ------------------------------------------LIBRARY------------------------------------------------- -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
    <script src='https://rawgithub.com/gsklee/ngStorage/master/ngStorage.js'></script>
    <!-- ------------------------------------------LIBRARY END------------------------------------------------- -->
    <!-- ------------------------------------------APPLICATION FILES ADDED---------------------------------------->
    <link rel="stylesheet" href="app/css/common.css">
    <script src="config.js"></script>
    <script src="app.js"></script>
    <script src="app/service/common.service.js"></script>
    <script src="app/component/header/header.component.js"></script>
    <!-- ------------------------------------------APPLICATION FILES---------------------------------------------->
</head>

<body ng-app="myapp">
    <div ng-controller="HelloController">
        <div>
            <!-- NAVIGATION BAR START-->
            <hero-detail></hero-detail>
            <!-- NAVIGATION BAR END -->

            <div class="container" id="container">

                <!-- <button type="button" class="btn btn-primary" ng-click="signup()">
                    Sign up</button> -->

                <div ui-view></div>
                <!-- -------------------------FORM-------------------------- -->
                <div class="margin-top-20">
                    <div class="row">
                        <div class="col-6">
                            <form name="submitForm">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Email</label>
                                        <input autocomplete="off" type="email" class="form-control" id="inputEmail4"
                                            ng-model="credentials.email" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4">Password</label>
                                        <input autocomplete="off" type="password" class="form-control"
                                            id="inputPassword4" ng-model="credentials.password" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">Address</label>
                                    <input autocomplete="off" type="text" class="form-control" id="inputAddress"
                                        ng-model="credentials.address" required>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress2">Address 2</label>
                                    <input autocomplete="off" type="text" class="form-control" id="inputAddress2"
                                        ng-model="credentials.address2" required>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputCity">City</label>
                                        <input autocomplete="off" type="text" class="form-control" id="inputCity"
                                            ng-model="credentials.city" required>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="inputZip">Zip</label>
                                        <input autocomplete="off" type="text" class="form-control" id="inputZip"
                                            ng-model="credentials.zip" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <button type="submit" class="btn btn-primary" ng-click="addDataDetails(credentials)"
                                    ng-disabled="submitForm.$invalid">Sign in</button>
                                    
                                    <button type="submit" class="btn btn-primary" ng-click="updateDataDetails(credentials)"
                                    >Update</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-6">
                            <div>
                                <div class="row">
                                    <div class="col-sm">
                                        ID
                                    </div>
                                    <div class="col-sm">
                                        EMAIL
                                    </div>
                                    <div class="col-sm">
                                        ADDRESS
                                    </div>
                                    <div class="col-sm">
                                        <!-- <button type="button" ng-click="deleteRowData()" class="btn btn-link">DELETE</button> -->
                                    </div>
                                </div>
                            </div>

                            <div ng-click="bindSelectedData(data)" class="alert alert-warning"
                                ng-repeat="data in listData">
                                <div class="row">
                                    <div class="col-sm">
                                        {{data.id}}
                                    </div>
                                    <div class="col-sm">
                                        {{data.email}}
                                    </div>
                                    <div class="col-sm">
                                        {{data.address}}
                                    </div>
                                    <div class="col-sm">
                                        <button type="button" ng-click="deleteRowData(data)"
                                            class="btn btn-link">DELETE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- -----------------------------FORM END------------------ -->
                <!-- <div>
                    <div class="jqueryNew">Welcome {{helloTo.title}} to the world of Tutorialspoint!</div>
                    <button type="button" class="btn btn-primary hide_content" ng-click="ngClick()">Alert</button>
                </div> -->
                <!-- <div ng-repeat="data">{{data.body}}</div> -->
                <!-- <div>
                    <button id="animateme">Animate Me</button>
                    <div id="animate">Jquery Animate Demo</div>
                </div> -->

                <!-- <div class="input-group mb-3">
                    <input autocomplete="off" type="text" class="form-control" placeholder="Add Your List" ng-model="inputList">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-outline-success my-2 my-sm-0" ng-click="addList(inputList)">Add</button>
                    </div>
                  </div>
                  <div ng-repeat="data in listData">{{data}}</div> -->
                <div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>