.margin-top-20{
    margin-top: 20px;
}
.font-size-18{
    font-size: 18px;
}
 /* .btn-primary:disabled {
    color: #c3bebe !important;
    background-color: #434344 !important;
    border-color: #686969 !important;
    opacity: 0.66 !important;
    cursor: not-allowed !important;
} */

